@model List<BugSmasher3000.ViewModels.UserRoleViewModel>

@{ 
    var roleId = ViewBag.roleId;
}


<div class="container-fluid">
    <div class="card shadow mb-4 w-50">
        <!-- Header -->
        <div class="card-header py-3 bg-gray-500">
            <h6 class="m-0 font-weight-bold text-white">Add or Remove Users From This Role</h6>
        </div>
        <!-- Body -->
        <div class="card-body col-sm-6 mb-3 mb-sm-0">
            <form method="post">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model[i].UserId" />
                        <input type="hidden" asp-for="@Model[i].UserName" />
                        <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model[i].IsSelected">
                            @Model[i].FName @Model[i].LName
                        </label>
                    </div>
                }
                <div class="form-group row ml-2">
                    <div class="col-sm-10">
                        <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
                        <a asp-action="EditRole" asp-route-id="@roleId" class="btn btn-primary" style="width:auto">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>